export(autotest_style)
export(check_functional)
export(check_pattern)
export(dispatch_test)
export(empty.find)
export(find2replace)
export(find_basic_comment)
export(find_call_args)
export(find_comment)
export(find_doc_comment)
export(find_function_args)
export(find_function_body)
export(find_inside_comment)
export(find_number)
export(find_string)
export(find_symbol)
export(lint)
export(lint.style)
export(locate2find)
export(make_class_finder)
export(parse2find)
export(performance.square)
export(spacing.indentation.evenindent)
export(spacing.indentation.notabs)
export(spacing.linelength.100)
export(spacing.linelength.80)
export(spacing.notabs)
export(spacing.spaceaftercomma)
export(spacing.spacearoundequals)
export(spacing.spacearoundinfix)
export(spacing.twobeforecomments)
export(with_default)
exportPattern(".*\\.characters")
exportPattern(".*\\.constant")
exportPattern("^performance\\..*$")
exportPattern("^spacing\\..*$")
exportPattern("styles\\.assignment\\..*")
import(dostats)
import(foreach)
import(plyr)
import(stringr)
importFrom(harvestr,noattr)
